image: node:latest

cache:
  paths:
    - node_modules/

stages:
  - deploy

pages:
  stage: deploy
  script:
    - npm run build
    - rm -rf public
    - mv build public

  artifacts:
    paths:
      - public
  only:
    - master
